pre { font-size: 1.2em; }
.cores-Brasil { color: rgb(255, 255, 255); background-color: red; }
.cores-Pelotas { color: blue; background-color: yellow; }
.cores-Farroupilha { color: green; background-color: white; }
.exibir {display: block;}
.ocultar {display: none;}
.exemplo91 {
  display: flex;
  justify-content: space-evenly;
}